body {
  display: flex;
  background-color: #35654d;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hand {
  background-image: url("img/CardBack.jpg");
  background-color: #cccccc;
  border-radius: 0.5rem;
  height: 15rem;
  width: 5rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.text {
  /* grid-column: span 2; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flippedCard {
  background-color: white;
  position: relative;
  height: 15rem;
  width: 10rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.flippedCard::before,
.flippedCard::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.flippedCard::before {
  top: 0.5rem;
  left: 0.5rem;
}

.flippedCard::after {
  bottom: 0.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
}

.red {
  color: red;
}

.black {
  color: black;
}

/* .play-btn {
  text-align: center;
  align-items: center;
} */
